# https://github.com/netdata/netdata/blob/master/collectors/python.d.plugin/postgres/postgres.conf

tcp:
  name: 'default'
  user: '<%= @postgres_user %>'
  password: '<%= @postgres_password %>'
  database: '<%= @postgres_database %>'
  host: '<%= @postgres_host %>'
  port: <%= @postgres_port %>
